body{
  margin: 0;
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.clock {
  color: white;
  font-size: 10rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
}